@model IEnumerable<PlayListView>

@{
}

<h2>Playlist</h2>


<label>Fechas </label>
<select id="cmbFechas">
    @{
        string sel="";        
        @foreach (var fecha in ViewBag.Fechas)
        {           
            sel = 2 == 2 ? "selected" : "";
            <option value="@fecha" label="@fecha.ToString("yyyy-MM-dd")"></option>
            
        }
    }
    
        
</select>



<form id="formulario">
    <table class="table dark-mode">
        <thead>
            <tr>
                <th>Revisado</th>
                <th>Artist</th>
                <th>Song</th>
                <th>Album</th>
                <th>Ver Albums</th>                
                <th>Like</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" asp-for="@item.Revisado" class="form-check-input" id="@item.IdArtist-check" name="CheckItems[@item.IdArtist]" />
                    </td>
                    <td>@item.Artist</td>
                    <td>@item.Song</td>
                    <td>@item.Album</td>

                    <td><a class="btn btn-light dark-mode" asp-action="VerAlbumsArtist" asp-route-id="@item.idArtistSpotify">Ver</a></td>                    

                    <td class="text-center"><input type="checkbox" asp-for="@item.Like" class="form-check-input" id="@item.IdArtist-checklike" /></td>
                </tr>

            }

        </tbody>

    </table>
</form>

@section Scripts {
    <script>

    
        
    


        // $("#cmbFechas").change(function () {
        //     const addedAt = $(this).val();
        //     var model = { addedAt: addedAt }
        //     console.log(addedAt);
        //     $.ajax({
        //         url: '@Url.Action("Index","PlayList")',
        //         type: 'POST',
        //         data: model,
        //         success: function (result) {
        //             $('#listado').html(result);
        //         }
        //     })

        // })


        

    </script>
}