@model IEnumerable<PlayListView>

@{
    ViewData["Title"] = "Playlist";
}

<body class="dark-mode">
    <h2>Playlist</h2>

    <div>
        <label>Fechas </label>
        <select id="addedAt">
            @foreach (var fecha in ViewBag.Fechas)
            {
                <option value="@fecha" label="@fecha.ToString("yyyy-MM-dd")"></option>
            }
        </select>
    </div>
<form id="formulario" >
        <table class="table dark-mode">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Song</th>
                    <th>Album</th>
                    <th>Ver Album</th>
                    <th>Revisado</th>
                    <th>Like</th>            
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Artist</td>
                        <td>@item.Song</td>
                        <td>@item.Album</td>
                        <td><a class="btn btn-light dark-mode" asp-action="VerAlbum" asp-route-id="@item.idArtistSpotify">Ver</a></td>
                
                
                        <td class="text-center">                        
                            <input type="checkbox" asp-for="@item.Revisado" class="form-check-input" id="@item.IdArtist-check" name="CheckItems[@item.IdArtist]"/>                        
                        </td>

                        <td class="text-center"><input type="checkbox" asp-for="@item.Like" class="form-check-input" id="@item.IdArtist-checklike" /></td>
                    </tr>     
                
                }

            </tbody>
    
        </table>
    </form>
</body>

@section Scripts {
    <script>
        $('input[type=checkbox]').change(function () {
            var check = $(this);            
            var cadena = check.attr("id").split("-");

            var idArtista = cadena[0];            
            var idCheck = idArtista + '-check';
            var idCheckLike = idArtista + '-checklike';            
            var revisado = $("input[type='checkbox'][id='" + idCheck +"']").is(":checked");
            var like = $("input[type='checkbox'][id='"+ idCheckLike +"']").is(":checked");
                                    
            var model = { IdArtist: idArtista,
                            Revisado: revisado,
                            Like: like}                        
            $.ajax({
                url: '@Url.Action("Actualiza","PlayList")',
                type: 'POST',
                data: model,
                success: function (result) {

                }
            })
        })

    </script>
}
