@model IEnumerable<PlayListView>

@{
    ViewData["Title"] = "Albumes de playlist";
}

<body style="background-color:black">
<div class="row">
    <div class="col-md-6">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel" > 
            <div class="carousel-inner">
                @{
                    int j = 0;
                    @foreach (var item in Model)
                    {
                        string active = j == 0 ? "active" : "";
                        <div class="carousel-item @active">
                            <img src="@item.AlbumImageUrl" class="d-block" />
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>@item.Album</h5>                                
                                </div>
                        </div>  
                    
                        j++;
                    } 
                }
               
            </div>

            <div class="carousel-indicators">        
                @{  int i = 0;
                    @foreach (var item in Model)
                    {
                        string active = i == 0 ? "active" : "";
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="@i" class="@active" ></button>
                        i++;
                    }
                }
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>
    </div>

    <div class="col-md-6">
        <p style="color: white" > Aun no trabajo acá</p>

            <p style="color: white"> Aun no trabajo acá</p>
    </div>
</div>



@section Scripts
{
    <script>
        var myCarousel = document.querySelector('#carousel');
        var carouselText = document.querySelector("#carousel-text")

        myCarousel.addEventListener('slid.bs.carousel', function (event) {
            var activeSlide = event.relatedTarget
            var slideNumber = Array.from(myCarousel.querySelectorAll('.carousel-item')).indexOf(activeSlide) +1;
            carouselText.textContent = 'Slide ' + slideNumber;

        })

    </script>
}
</body>